
html {
    background-color: #CBE4DE;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    text-align: center;
}

h1, h2, h3 {
    margin-top: 70px;
}

div {
    margin: 5% 20%;
}

h1 {
    color: #2C3333;
    font-family: 'Reenie Beanie', cursive;
    font-size: 3rem;
}


h2 {
    color: #2E4F4F;
    
}

h3 {
    color: #0E8388;
}

img {
    height: 300px;
}


ul, ol {
    list-style-type: none;
    padding-left: 0;
}



.steps li {
    margin-bottom: 10px;
}